<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 03:00:05 GMT+0000 (UTC) -->
<html data-wf-site="52f00e27a8b031ee5c000058">
<head>
  <meta charset="utf-8">
  <title>Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/thrifty.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript" src="js/cookies.js"></script>

  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs5shiv/3.75shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class="w-clearfix">
  <div>
    <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
  </div>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container navedited">
      <a class="w-nav-brand  navedited" href="#"></a>
      <nav class="w-nav-menu  navedited" role="navigation"><a class="w-nav-link  navedited" href="/">Home</a><a class="w-nav-link  navedited" href="browse">Browse</a><a class="w-nav-link  navedited" href="findus">Find Us</a>
      <a class="w-nav-link navedited" href="calendar">Calendar</a>

          <a class="w-nav-link navedited" href="wishlist">My Wishlist</a>

        <a class="w-nav-link navedited"
        href="help">FAQ</a>

        <script>
        if(getCookie("username") != "")
           document.write("<a class=\"w-nav-link navedited\" href=\"\/\" onclick=\"logout();\">Logout</a>");
        </script>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
  <h1 class="map">Calendar</h1>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">

      <!---Body--> 
      <tbody>
        {{#each calendar}}
        <tr>
          <td>{{date}} <br> {{location}}<br>
         <a href={{calendarURL}}>Add to Google Calendar</a>



</td>
          <td style="background-color: #93c0bd;"><iframe width='100%' height='150px' frameBorder='0' src={{mapURL}}></iframe></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
