<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 12 2014 03:00:05 GMT+0000 (UTC) -->
<html data-wf-site="52f00e27a8b031ee5c000058">
<head>
  <meta charset="utf-8">
  <title>Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/thrifty.webflow.css">
   <link rel="styleshet" type="text/css" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Bitter:400,700"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs5shiv/3.75shiv.min.js"></script><![endif]-->
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
</head>
<body class="w-clearfix">
  <div>
    <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
  </div>
  <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container navedited">
      <a class="w-nav-brand  navedited" href="#"></a>
      <nav class="w-nav-menu  navedited" role="navigation"><a class="w-nav-link  navedited" href="/">Home</a><a class="w-nav-link  navedited" href="browse">Browse</a><a class="w-nav-link  navedited" href="findus">Find Us</a><a class="w-nav-link  navedited" href="calendar">Calendar</a><a class="w-nav-link  navedited" href="wishlist">My Wishlist</a><a class="w-nav-link  navedited"
        href="help">FAQ</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
  <h1 class="map">Calendar</h1>
  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
        <th>Date</th>
        <th>Where</th>
        <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Feb 18, 2014</td>
        <td>UCSD</td>
        <td>Library Walk</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>Feb 19, 2014</td>
        <td>UCSD</td>
        <td>Library Walk</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>Feb 20, 2014</td>
        <td>UCSD</td>
        <td>Library Walk</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>Feb 21, 2014</td>
        <td>UCSD</td>
        <td>Library Walk</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
        <td>March 17, 2014</td>
        <td>UCLA</td>
        <td>Royce Quad</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>March 18, 2014</td>
        <td>UCLA</td>
        <td>Royce Quad</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>March 19, 2014</td>
        <td>UCLA</td>
        <td>Royce Quad</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>March 20, 2014</td>
        <td>UCLA</td>
        <td>Royce Quad</td>
        </tr>
      </tbody>





      <tbody>
        <tr>
        <td>April 7, 2014</td>
        <td>UC Berkeley</td>
        <td>Sather Gate</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>April 8, 2014</td>
        <td>UC Berkeley</td>
        <td>Sather Gate</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>April 9, 2014</td>
        <td>UC Berkeley</td>
        <td>Sather Gate</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
        <td>April 10, 2014</td>
        <td>UC Berkeley</td>
        <td>Sather Gate</td>
        </tr>
      </tbody>

    </table>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
